<!doctype html>
<html lang="en" ng-controller="AppCtrl" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>MEAN Seed App</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <link type="text/css" media="all" rel="stylesheet" href="css/style.css"/>

  <link rel="shortcut icon" href="assets/favicon.ico">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png">

  <!-- Provide authentication status for initial load -->
  <script>window.myApp={user:<%-JSON.stringify(user)%>};</script>

</head>
<body>

  <!-- Header -->
  <div ng-include="'views/header.html'"></div>

  <!-- System Messages -->
  <div ng-include="'views/messages.html'"></div>

  <!-- App Content Container -->
  <div class="application-container">
    <div ng-view class="application-view" ng-class="pageAnimationClass"></div>
  </div>

  <script src="lib/jquery/jquery-1.10.2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
  <script src="http://code.angularjs.org/1.2.4/angular-sanitize.js"></script>
  <script src="http://code.angularjs.org/1.2.4/angular-route.js"></script>
  <script src="http://code.angularjs.org/1.2.4/angular-resource.js"></script>
  <script src="http://code.angularjs.org/1.2.4/angular-animate.js"></script>
  <script src='lib/fastclick/fastclick.js'></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/app.js"></script>

  <!-- Inject the live reload script if this is running in the dev environment -->
  <% if (env === 'development') { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>

</body>
</html>
