form {
    margin: 1rem 0;
}

.form-item {
    padding-bottom: 1.1rem;
    margin-bottom: 1rem;
    position: relative;
}

input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
    margin: 0 0 .5rem 0;
}

.form-item input[type="text"],
.form-item input[type="email"],
.form-item input[type="password"] {
    margin: 0;
    // font-size: 1.25rem;
}

.form-item input[type="text"].ng-dirty.ng-invalid,
.form-item input[type="email"].ng-dirty.ng-invalid,
.form-item input[type="password"].ng-dirty.ng-invalid {
    border: 1px solid #FF0000;
}

.form-item .validation-messages {
    color: #FF0000;
    font-size: .75rem;
    position: absolute;
    bottom: 0;
}

.action-buttons {
    margin-top: 2rem;
    text-align: center;
}

.action-buttons button {
    margin: 0 .5rem;
}

a.button {
    background-color: #d09d01;
}

a.button:hover,
a.button:active {
    text-decoration: none;
    background-color: #b18601;
}