/* GLOBAL STYLES */

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow: hidden;
    height: 100%;
    background-color: #FFFFFF;
}

body {
    font-family: "Open Sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    user-select: none;
}

div,
nav,
section {
    box-sizing: border-box;
}

textarea {
    width: 100%;
}

label {
}

a, a:visited {
    text-decoration: none;
    cursor: pointer;
}

a:hover, a:focus {
    text-decoration: underline;
}

a:active,
a:focus {
    outline: none;
}

/* Headings */
h1 {
    margin: 1rem 0;
    width: 100%;
    font-weight: 300;
    font-family: "Open Sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

/* partial containers */
.application-container {
    height: 100%;
    width: 100%;
    position: relative;
    transform: translate3d(0,0,0);
}

.application-view {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    -webkit-backface-visibility: hidden;
    perspective: 1000;
}