.header-container {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
    color: #FFF;
}

.header-container a.menu-icon {
    text-indent: 2.1875rem;
    width: 2.8125rem;
    height: 2.8125rem;
    display: block;
    line-height: 2.0625rem;
    padding: 0;
    color: white;
    position: relative;
}

.header-container a.menu-icon span {
    white-space: nowrap;
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
}

.header-container nav.tab-bar h1 a:hover {
    text-decoration: none;
}

.header-container .top-bar-section ul li > a.button {
    background-color: #d09d01;
}

.header-container .top-bar-section ul li > a.button:hover,
.header-container .top-bar-section ul li > a.button:active {
    background-color: #b18601;
}