.system-messages {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	z-index: 10;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: right top;
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    padding: 11px 40px 13px 20px;
    border-radius: 0;
    text-align: left;
    line-height: 130%;
    color: #fff;
}
.system-messages h2 {
	font-weight: 700;
	font-size: 1rem;
}
.system-messages p {
	font-weight: 300;
	font-size: 0.9rem;
}

.system-messages a {
    font-weight: bold;
}

.system-messages a:hover,
.system-messages a:active {
    text-decoration: underline;
}

.system-messages .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1rem;
    color: #FFFFFF;
}