.page {
    min-height: 100%;
    width: 100%;
    color: #555555;
    background-color: #FFF;
}

.page-content{
    padding: 45px 0 2.5rem;
}

.page-content h1 {
    text-align: center;
}

.page-content .row {
    overflow: hidden;
}

.page-content .row:before,
.page-content .row:after {
    content: none; /* Foundation row clearing causing animation bugs in page transitions */
}

// @media only screen
// and (min-device-width : 320px)
// and (max-device-width : 568px)
// and (-webkit-min-device-pixel-ratio: 2) {

//     .page {
//         min-height: 100%;
//     }
// }