/**
 * Style.scss - Main SCSS file
 */

/* Foundation */
@import "../lib/foundation/scss/foundation/settings";
@import "../lib/foundation/scss/normalize";
@import "../lib/foundation/scss/foundation";


/* CSS Modules */
@import "modules/_fonts";
@import "modules/_global";
@import "modules/_headers";
@import "modules/_menus";
@import "modules/_pages";
@import "modules/_forms";
@import "modules/_messages";
@import "modules/_animations";

/* Pages */
@import "pages/_login";
@import "pages/_signup";
@import "pages/_profile";
@import "pages/_home";
