<div class="page admin-page">

    <section class="page-content">

        <h1>Admin</h1>

        <div class="row">

            <div class="columns small-10 small-offset-1">

                <div class="accounts-list">

                    <h3>Accounts</h3>

                    <div class="error" ng-show="appState.error">{{appState.error}}</div>

                    <table ng-show="!appState.error">
                        <thead>
                            <tr>
                                <th><!-- <input type="checkbox" /> --></th>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Role</th>
                                <th colspan="2">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="crossFade" ng-repeat="person in accounts">
                                <td><input type="checkbox" /></td>
                                <td>{{person.name.last}}</td>
                                <td>{{person.name.first}}</td>
                                <td>{{person.role}}</td>
                                <td class="action"><a ng-click="editAccount(person._id)">edit</a></td>
                                <td class="action"><a ng-click="removeAccount(person._id, $index)">delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>
</div>