<div class="page forgot-page">

	<section class="page-content animate" ng-cloak ng-show="!resetSuccess">

		<h1>Forgot your password?</h1>

		<div class="row">

			<div class="columns small-10 small-offset-1 medium-6 medium-offset-3 large-6 large-offset-3">

				<!-- message -->
  				<p>Enter your email address and we'll send you a link to reset your password.</p>

				<!-- Reset Password Form -->
				<form name="userAccount" novalidate>

					<!-- Email Address -->
                    <div class="form-item">

                        <label for="email">Email address</label>

                        <input
                            ng-model="userAccount.email"
                            ng-focus="focusField = 'email'"
                            ng-blur="focusField = ''"
                            name="mail"
                            type="email"
                            required
                            placeholder="name@domain.com"
                        />

                        <!-- Email Validation Messages -->
                        <div class="validation-messages" ng-cloak ng-show="userAccount.mail.$dirty">
                            <span class="valid-message" ng-cloak ng-show="userAccount.mail.$error.required">Email Required</span>
                            <span class="valid-message animate" ng-cloak ng-show="userAccount.mail.$error.email && focusField != 'email'">Invalid Email Format</span>
                        </div>
                    </div>

					<!-- Form Action Buttons -->
					<div class="action-buttons">
						<button
							name="submit"
							type="button"
							value="submit"
							class="form-btn submit"
							ng-click="requestPasswordReset(userAccount)"
							ng-disabled="!userAccount.$valid">reset</button>
							or
							<a name="back" class="form-btn" ng-click="go('/login','slideRight')"> cancel</a>
					</div>

				</form>

			</div>

		</div>

    </section>

    <section class="page-content animate" ng-cloak ng-show="resetSuccess">

		<h1>Password Reset Link Sent</h1>

		<div class="row">

			<div class="columns small-10 small-offset-1 medium-6 medium-offset-3 large-6 large-offset-3">

		    	<!-- message -->
				<p>Thank you, {{resetUser.name.first}}. Check your email inbox and follow the link to choose a new password. Don't see it? Check your spam folder and mark it as not spam.</p>

				<form>
					<div class="action-buttons">
						<button
							type="button"
							class="form-btn"
							ng-click="go('/login', 'slideRight');">OK</button>
					</div>
				</form>

			</div>

		</div>

    </section>

</div>
