<div class="page login-page">

    <section class="page-content">

        <h1>Login</h1>

    	<!-- Login Form Container-->
        <div class="row">

            <div class="columns small-10 small-offset-1 medium-6 medium-offset-3 large-6 large-offset-3">

                <!-- Login Form -->
                <form name="userAccount" ng-submit="login(userAccount)" novalidate>

                    <!-- Validation/Error Messages -->
                    <div>

                        <!-- Login Status Messages -->
                        <div class="loginStatus" ng-show="loginMessage.isVisible">
                            Email & Password Not Recognized
                            <p ng-bind-html="loginMessage.message"></p>
                        </div>

                    </div>

                    <!-- Email Address -->
                    <div class="form-item">

                        <label for="email">Email address</label>

                        <input
                            ng-model="userAccount.email"
                            ng-focus="focusField = 'email'"
                            ng-blur="focusField = ''"
                            name="mail"
                            type="email"
                            required
                            placeholder="name@domain.com"
                        />

                        <!-- Email Validation Messages -->
                        <div class="validation-messages" ng-cloak ng-show="userAccount.mail.$dirty">
                            <span class="valid-message" ng-cloak ng-show="userAccount.mail.$error.required">Email Required</span>
                            <span class="valid-message animate" ng-cloak ng-show="userAccount.mail.$error.email && focusField != 'email'">Invalid Email Format</span>
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="form-item">

                        <label for="password">Password</label>

                        <input
                            ng-model="userAccount.password"
                            ng-focus="focusField = 'password'"
                            ng-blur="focusField = ''"
                            name="secret"
                            type="password"
                            required
                            autocomplete="off"
                            placeholder="MyP4ssw0rd!"
                        />

                        <!-- Password Validation Messages -->
                        <div class="validation-messages" ng-cloak ng-show="userAccount.secret.$dirty">
                            <span class="valid-message" ng-cloak ng-show="userAccount.secret.$error.required">Password Required</span>
                        </div>
                    </div>

        			<!-- Password Reset Link -->
                    <a ng-click="go('/forgot','slideLeft')" class="forgot-link">forgot your password?</a>

                    <!-- Login Submit Button -->
                    <div class="action-buttons">
                        <button
                            type="submit"
                            value="submit"
                            class="form-btn"
                            ng-disabled="!userAccount.$valid"
                         >login</button> or

                        <a class="register signup-button" ng-click="go('/signup','slideLeft')">Sign Up</a>
                    </div>
        		</form>

            </div>

    	</div>

    </section>

</div>