<div class="page login-page">

    <section class="page-content">
        <h1>REST/MEAN Seed Application</h1>

    	<!-- Login Form Container-->
        <div class="form-item">

            <!-- Login Form -->
            <form name="userAccount" novalidate>

                <!-- Validation/Error Messages -->
                <div>

                    <!-- Login Status Messages -->
                    <div class="loginStatus" ng-show="loginMessage.isVisible">
                        Email & Password Not Recognized
                        <p ng-bind-html="loginMessage.message"></p>
                    </div>

                </div>

                <!-- Email Address -->
                <div class="form-item">
                    <input
                        ng-model="userAccount.email"
                        name="mail"
                        type="email"
                        required
                        placeholder="email address"
                    >

                    <!-- Email Validation Messages -->
                    <div class="validation-messages" ng-cloak ng-show="userAccount.mail.$dirty">
                        <span class="valid-message" ng-cloak ng-show="userAccount.mail.$error.required">Email Required</span>
                        <span class="valid-message" ng-cloak ng-show="userAccount.mail.$error.email">Invalid Email Format</span>
                    </div>
                </div>

                <!-- Password -->
                <div class="form-item">
                    <input
                        ng-model="userAccount.password"
                        name="secret"
                        type="password"
                        required
                        autocomplete="off"
                        placeholder="password"
                    >

                    <!-- Password Validation Messages -->
                    <div class="validation-messages" ng-cloak ng-show="userAccount.secret.$dirty">
                        <span class="valid-message" ng-cloak ng-show="userAccount.secret.$error.required">Password Required</span>
                    </div>
                </div>

    			<!-- Password Reset Link -->
                <a ng-click="go('/forgot','slideLeft')" class="forgot-link">forgot your password?</a>

                <!-- Login Submit Button -->
                <div class="action-buttons">
                    <button
                        class="form-btn"
                        ng-click="login(userAccount)"
                        ng-disabled="!userAccount.$valid"
                     >login</button> or

                    <a class="register signup-button" ng-click="go('/signup','slideLeft')">Sign Up</a>
                </div>
    		</form>
    	</div>

    </section>

    <!-- Footer -->
    <div class="page-footer">

    </div>

</div>