<!-- Header -->
<div class="page profile-page">

	<!-- Content -->
	<section class="page-content">

		<!-- Profile Info -->
		<div class="avatar"></div>

			<div class="profile-card">

				<!-- Contact Info -->
				<div class="contact-info">
					<div class="name">{{profile.name.full}}</div>
				</div>

				<!-- Pristine: not added, no connections -->
				<div ng-show="profile.pristine" class="list-btn add-person" ng-click="addFriendRequest(profile)"></div>

				<!-- Added -->
				<div ng-show="profile.added" class="status">
					Already added. <button class="text-btn" ng-click="removeFriend(profile)">Remove</button></div>

				<!-- Requested -->
				<div ng-show="profile.requested">
					<div class="status">Added you. Accept?</div>
					<div class="list-btn remove" ng-click="rejectFriendRequest(profile)"></div>
					<div class="list-btn accept" ng-click="acceptFriendRequest(profile)"></div>
				</div>

				<!-- Pending -->
				<div ng-show="profile.pending">
					<div class="status">Your request is pending. <button class="text-btn" ng-click="cancelFriendRequest(profile)">Cancel</button></div>
				</div>
			</div>

	</section>

</div>