<div class="header-container">

    <!-- Mobile Nav Bar -->
    <nav class="tab-bar show-for-small">
        <a ng-click="appState.toggleMenu()" class="menu-icon"><span>mean seed</span></a>
    </nav>

    <!-- Standard Nav Bar -->
    <nav class="top-bar hide-for-small" data-topbar="">
        <ul class="title-area">
            <li class="name">
                <h1><a ng-click="go('/home', 'crossFade')">mean seed</a></h1>
            </li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li class="divider"></li>
                <li>
                    <a href="#/docs" class="">Documentation</a>
                </li>
                <li class="divider"></li>
                <li ng-if="!appState.user.authenticated" class="has-form">
                    <a ng-click="go('/login', 'crossFade')" class="small button">login</a>
                </li>
                <li ng-if="appState.user.authenticated" class="has-dropdown not-click">
                    <a>{{appState.user.name.first}}</a>
                    <ul class="dropdown">
                        <li><a ng-click="go('/profile', 'crossFade')">My Profile</a></li>
                        <li><a ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>

</div>
