.homepage-hero {
    background: url(../assets/img/mean-seed-hero-bg.jpg) #2d6f4f repeat;
    padding: 2rem 1rem;
    position: relative;
}

.homepage-hero h1 {
    text-align: left;
    font-weight: 400;
    font-size: 3.1rem;
    color: #FFF;
}

.homepage-hero h2 {
    color: #CCC;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
}

.homepage-hero a {
    color: #FFF;
}

.homepage-hero .hero-image {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 2rem;
}

.homepage-gitinfo {
    background-color: #2a664b;
    padding: 1.25rem 0;
    color: #FFF;
    font-size: .75rem;
}

.homepage-content {
    padding-top: 2rem;
}

@media #{$medium-up} {

    .homepage-hero h2 {
        margin-bottom: 2rem;
    }

    .homepage-hero .hero-image img {
        height: 100%;
        width: auto;
    }

    .homepage-hero .hero-image {
        width: 50%;
        height: 100%;

    }
}

@media #{$large-up} {

    .homepage-hero {
        height: 500px;
    }

}