.homepage-hero {
    background: #084e68;
    padding: 2rem 1rem;
    position: relative;
}

.homepage-hero h1 {
    text-align: left;
    font-weight: 400;
    font-size: 3.1rem;
    color: #FFF;
}

.homepage-hero h2 {
    color: #FFF;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
}

.homepage-hero .hero-image {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 2rem;
}

.homepage-gitinfo {
    background-color: #085A78;
    padding: 1.25rem 0;
    color: #FFF;
    font-size: .75rem;
}

.homepage-gitinfo .commit {
    color: #EEE;
}

.homepage-content {
    padding-top: 2rem;
}

.homepage-content h2, h4 {
    text-align: center;
}

.homepage-content .big-icon {
    color: #555;
    display: block;
    margin-top: 1rem;
    text-align: center;
}

@media #{$medium-up} {

    .homepage-hero h2 {
        margin-bottom: 2rem;
    }

    .homepage-hero .hero-image img {
        height: 95%;
        width: auto;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .homepage-hero .hero-image {
        width: 50%;
        height: 100%;

    }
}
