.login-page .page-content {
    max-width: 480px;
    margin: 0 auto;
}

.login-page .forgot-link {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: .9rem;
}

.login-page .action-buttons {
    margin-top: 4rem;
    text-align: center;
}