.profile-page {

}

.profile-page .profile-actions {
    text-align: right;
    padding: 1rem 0 0;
}

.profile-page .avatar {
    margin: 1.5rem auto;
    height: auto;
    width: 100%;
}

.profile-page h1 {
    text-align: left;
}